/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

body {background-color:#ffffff !important;}

 
.mainCanvas {
    font-family:Arial, Times, serif;  
} 

  
.verticalPanel {
   width: 100%;
   height: 100%;

 	margin: auto;

}
